body{
    text-align: center;
    
}
#apple-shelf{
    background-color: red;
    border: none;
  color: white;
  padding: 15px 62px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#orange-shelf{
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 62px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}